
body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Container{
    width: 500px;
    background: black;
}


.Text-concatenate{
    display: flex;
    justify-content: center;
   align-items: center;
   text-align: center;
   margin-top: 20px;

  }

  .Text-button{
    width: 20px;
    height: 20px;
    background-color: white;
    margin-right: 5px;
  }

  .M-text{
    font-size: 20px;
    margin-right: 5px;
  }

  .Mg-text{
    color: white;
  }

  .Container h2{
     font-size: 20px;
     font-weight: bold;
     color: white;
  }

  .Container p{
    font-size: 10px;
    color: antiquewhite;
    line-height: 10px;
  }

  .Container label{
    font-size: 12px;
    color: white;
  }

  .Container input{
    width: 220px;
    background-color: black;
    border: 1px solid white;
    padding: 5px;
    border-radius: 3px;
  }


  /* form-container */

  .form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .Cr-button{
    width: 240px;
    padding: 6px;
    border-radius: 8px;
    margin-top: 7px;
    font-weight: bold;
    background-color: yellow;
    font-size: 13px;
  }

  .Google-button{
    width: 240px;
    padding: 6px;
    border-radius: 8px;
    margin-top: 7px;
    font-weight: bold;
    background-color: black;
    font-size: 13px;
    color: white;
    border: 1px solid blueviolet;
  }

.Google-button img{

  width: 10px;
  height: 10px;
}


  .Text{
    text-align: center;
    font-weight: bold;
  }

  .Sign-text{
    color: blue;
  }